@mixin button($color: $orange, $color_dark: $orange_dark) {
	background-color: $color_dark;
	min-width: 125px;
	padding: 10px 25px;
	outline: none;
	border: 0;
	border-radius: 15px;
	color: $white;
	font-weight: 600;

	&:hover {
		transition: background-color 0.3s ease;
		background-color: $color;
		cursor: pointer;
	}
}
